@font-face {
    font-family: 'Calling Code Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Calling Code Regular'), url('CallingCode-Regular.woff') format('woff');
}

p {
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Calling Code Regular";
    background: #0F0E14;
    color: #C8C8C8;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 160px;
    height: 35px;
    background: RGB(164, 255, 175);
    border: none;
    font-family: "Calling Code Regular";
    font-size: 1.02em;
    font-weight: bold;
    color: #0F0E14;
}

button:hover {
    cursor: pointer; 
}

button:active {
    background: RGB(164, 255, 175, .9);
}

input[type="range"] {
    -webkit-appearance: none;
    color: inherit;
    background: #0F0E14;
    width: 160px;
    height: 5px;
    border-radius: 4px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: RGB(227, 226, 233);
    border-radius: 200px;
}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
    background: #0F0E14;
    outline: none;
    border-radius: 200px;
    width: 60px;
    height: 60px;
    box-shadow: 0 0 5px rgb(0, 0, 0, .8);
}

input[type="color"]::-webkit-color-swatch-wrapper {
    display: none;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

input {
    cursor: pointer; 
}

.grid-range {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-size: 1.1em;
    font-weight: bold;
    color: rgb(255, 255, 255, .5);
}

.clear {
    background: RGB(24, 23, 31);
    color: RGB(255, 255, 255, .7);
}

.clear:active {
    background: rgb(20, 20, 20);
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.title {
    font-weight: bold;
    font-size: 1.2em;
    opacity: .7;
}

.panels {
    display: flex;
    gap: 50px;
}

.control-panel {
    width: 300px;
    background: RGB(36, 35, 43);
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 55px 50px 30px 50px;
    justify-content: space-between;
    align-items: center;
}

.draw-panel {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    background: rgb(240, 240, 240);
    box-shadow: inset 0 0 4px black;
}

footer {
    font-size: 1.1em;
    position: absolute;
    bottom: 20px;
    width: 100vw;
    text-align: center;
}
